main{
    background: #97AEBC;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    background: rgba(52, 66, 75, 0.80);
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
}

.title-container h1{
    color: #ffffff;
    font-size: 1.4rem;
    margin: inherit;
    font-family: 'Montaga', serif;
    font-weight: normal;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container-fullname{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.container-fullname div, .container-message{
    background: rgba(52, 66, 75, 0.80);
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 25px;
    border-radius: 10px;
    width: 80%;
}

.container-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 60%;
}

label{
    color: white;
    font-size: 1.3rem;
    font-family: 'Montaga', serif;
    margin-bottom: 10px;
}

input{
    outline: none;
    height: 70%;
    width: 80%;
    font-size: 1.2rem;
}

textarea{
    height: 150px;
    outline: none;
    margin-top: 10px;
    resize: none;
    font-size: 1.2rem;
    font-family: 'Montaga', serif;
    width: 90%;
}

button{
    width: 25%;
    align-self: center;
    background: rgba(52, 66, 75, 0.80);
    padding: 8px 15px;
    color: #ffffff;
    font-size: 1.2rem;
    font-family: 'Montaga', serif;
    transition: 0.5s;
    border: none;
    margin-bottom: 15px;
}

button:hover{
    background: #97AEBC;
    text-decoration: underline;
    cursor: pointer;
    box-shadow: #97AEBC 0px 15px 30px -8px inset, rgba(52, 66, 75, 0.9) 0px 9px 18px -12px inset;
    border: solid 1px rgba(52, 66, 75, 0.80);
}

footer{
    height: 10vh;
    background: rgba(52, 66, 75, 0.80);
}


@media screen and (max-width: 1050px) {
    .container-message{
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 950px) {
    .title-container h1, label, button {
        font-size: 1.2rem;
    }

    input, textarea {
        font-size: 1.1rem;
    }

    form{
        align-items: center;
    }

    .container-fullname{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .container-fullname div,  .container-message{
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 600px) {
    form, .container-fullname {
        width: 100%;
    }

    .container-fullname div, .container-message, .title-container{
        border-radius: 0;
    }

    .title-container {
        width: calc(100% - 40px);
        text-align: center;
    }

    label, .title-container h1, button{
        font-size: 1rem;
    }

    input {
        height: 2rem;
        font-size: 1rem;
    }
}