main{
    background: #97AEBC;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    background: rgba(52, 66, 75, 0.80);
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
}

.title-container h1{
    color: #ffffff;
    font-size: 1.4rem;
    margin: inherit;
    font-family: Montaga, serif;
    font-weight: normal;
}

.contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.help-text{
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: auto;
    align-self: center;
    padding: 20px;
    background: rgba(52, 66, 75, 0.80);
    list-style-type: none;
}

.help-text li {
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Montaga, serif;
}

.container-fullname{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.container-fullname div, .container-message{
    background: rgba(52, 66, 75, 0.80);
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 25px;
    border-radius: 10px;
    width: 80%;
}

.container-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 60%;
    padding: 15px 15px 35px;
}

.rgpd-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form label{
    color: #ffffff;
    font-size: 1.2rem;
    font-family: Montaga, serif;
    margin-bottom: 10px;
}

input[type = text], .contact-form input[type= email], input[type = tel]{
    outline: none;
    height: 70%;
    width: 80%;
    font-size: 1.2rem;
    font-family: Montaga, serif;
}

.contact-form textarea{
    height: 150px;
    outline: none;
    resize: none;
    font-size: 1.2rem;
    font-family: Montaga, serif;
    width: 90%;
}

.contact-form button{
    align-self: center;
    background: rgba(52, 66, 75, 0.80);
    padding: 8px 35px;
    color: #ffffff;
    font-size: 1.2rem;
    font-family: Montaga, serif;
    transition: 0.3s;
    border: none;
    margin-bottom: 15px;
}

.contact-form button:hover{
    background: #97AEBC;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .container-message{
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 950px) {
    .title-container h1{
        font-size: 1.2rem;
    }

    input[type = text], .contact-form input[type= email], input[type = tel], textarea, .help-text li {
        font-size: 1.1rem;
    }

    .rgpd-box {
        display: inline-block;
        margin-bottom: 10px;
    }

    .rgpd-box label {
        font-size: 1rem;
        margin-left: 5px;
    }

    .contact-form {
        align-items: center;
    }

    .container-fullname{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .container-fullname div,  .container-message{
        width: calc(100% - 30px);
    }

    .title-container {
        width: calc(100% - 40px);
        text-align: center;
        border-radius: inherit;
    }

}

@media screen and (max-width: 600px) {
    .contact-form, .container-fullname {
        width: 100%;
    }

    .container-fullname div, .container-message, .title-container{
        border-radius: 0;
    }

    .title-container h1{
        font-size: 1.1rem;
    }

    .help-text{
        border-radius: inherit;
        width: 100%;
        align-items: flex-start;
    }

    .help-text li {
        margin-bottom: 5px;
    }

    .contact-form label, .contact-form button, .help-text li{
        font-size: 1rem;
    }

    input[type = text], .contact-form input[type= email], input[type = tel] {
        height: 2rem;
        font-size: 1rem;
    }

    .rgpd-box label {
        text-align: center;
    }
}