@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

/* BLOC CHOIX CATEGORIES */
.categories-container {
    background: rgba(52, 66, 75, 0.9);
    font-family: 'Oregano', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

.categories-container h1 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1.6rem;
    margin: inherit;
    font-weight: normal;
    border-bottom: 1px #ffffff solid;
}

.categories-container ol {
    display: flex;
    list-style: none;
    margin: inherit;
    padding-left: inherit;
}

ol li, .categories-container span{
    letter-spacing: 1px;
    margin: 0 30px;
    color: #ffffff;
    font-size: 1.35rem;
}

ol li:hover, .categories-container span:hover  {
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 1px solid #ffffff;
}

/* BLOC GALERY */

.image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background: #97AEBC;
}

.image-container img {
    border-radius: 10px;
    margin: 20px 0;
    width: 80%;
    height: 80%;
}

/* BOUTON "VOIR PLUS" */

.btn-more-container {
    background: rgba(52, 66, 75, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 12px 0;
}

.btn-more{
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #97AEBC;
    padding: 8px 35px;
    transition: 0.3s;
}

.btn-more:hover{
    box-shadow: rgba(52, 66, 75, 0.6) 0px 15px 30px -8px inset, rgba(52, 66, 75, 0.7) 0px 9px 18px -12px inset;
}

.btn-more span {
    color: #ffffff;
    font-size: 1.3rem;
    font-family: 'Montaga', serif;
}

.btn-more img {
    height: 30px;
}

/* Footer */

footer{
    border-top: 1px solid #ffffff;
    height: 10vh;
    background: rgba(52, 66, 75, 0.90);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    color: #ffffff;
    font-size: 1rem;
    font-style: italic;
    font-family: 'Oregano', serif;
    padding-bottom: 4px;
    border-bottom: 1px #ffffff solid;
}

/* Media Queries */

@media screen and (max-width: 1150px) {
    ol li, .categories-container span {
        margin: 0 15px;
    }
}

@media screen and (max-width: 950px) {
    .categories-container {
        justify-content: center;
    }

    ol li, .categories-container span {
        margin: 0 5px;
    }
     ol li, .categories-container span  {
         display: none;
         border: none;
    }

    .categories-container h1 {
        font-size: 1.3rem;
        border: none;
        cursor: pointer;
        background: #97AEBC;
        padding: 8px 35px;
        transition: 0.3s;
    }

    .categories-container h1:hover{
        box-shadow: rgba(52, 66, 75, 0.6) 0px 15px 30px -8px inset, rgba(52, 66, 75, 0.7) 0px 9px 18px -12px inset;
    }
}

@media screen and (max-width: 700px) {
    .categories-container h1, .btn-more {
        padding: 6px 20px;
    }

    .image-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .image-container img {
        max-height: 60%;
    }
}