@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

body{
    margin: 0;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #ffffff;
    background: rgba(52, 66, 75, 0.9);
}

header nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    font-family: 'Montaga', serif;
}

header nav a:hover{
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
}

.social-network_container{
    margin-right: 50px;
}

.social-network_container img{
    width: 40px;
    margin: 0 5px;
    height: 40px;
}

.active{
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 1340px ) {
    header nav {
        width: 60%;
    }
    .social-network_container{
        margin-right: inherit;
    }
}

@media screen and (max-width: 900px){
    header nav {
        width: 80%;
    }

}

@media screen and (max-width: 600px) {
    header{
        height: 12vh;
    }

    header nav {
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    header nav a {
        margin: 0 5px;
        font-size: 1.2rem;
        text-align: center;
    }

    .social-network_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-network_container img {
        height: 30px;
        width: 30px;
    }
}

