@import url('../fonts/Oregano-Regular.ttf');

body{
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: #97AEBC;
}

main nav {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-family: Oregano , serif;
    font-size: 1.7rem;
    color: #ffffff;
    margin: 0 30px;
}

nav a:last-of-type{
    text-align: center;
}

.separator{
    border: 1px #ffffff solid;
    position: absolute;
    top: 110px;
    width: 40%;
}

img {
    height: 89vh;
}

a:hover{
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 630px) {
    main nav {
        top: 50px;
        left: 0;
    }

    nav a {
        font-size: 1.4rem;
    }

    .separator{
        width: 70%;
        top: 70px;
    }

    img {
        width: 100%;
        border: none;
    }
}


@media screen and (max-width: 400px) {
    main nav {
        top: 20px;
    }

    nav a {
        font-size: 1.1rem;
    }
}


@media screen and (max-height: 630px) {
    main nav {
        top: 30px;
    }

    nav a {
        font-size: 1rem;
    }

    .separator{
        top: 50px;
    }
}