main {
    background: #97AEBC;
    padding: 20px 60px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loop {
    display: none;
    position: relative;
    transform: translateZ(0) scale(1);
}

.loop div {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 13px solid rgba(52, 66, 75, 0.8);
    border-top-color: transparent;
    border-radius: 50%;
    animation: loop 0.8s linear infinite;
    top: 100px;
}

@keyframes loop {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.help-text{
    display: none;
    border-radius: 10px;
    padding: 20px;
    background: rgba(52, 66, 75, 0.80);
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Montaga, serif;
    margin-bottom: 20px;
}

section {
    background: rgba(52, 66, 75, 0.75);
    padding: 10px 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
}

section:first-of-type, .full-name{
    margin: 0;
}

section div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #ffffff solid;
    padding-bottom: 15px;
}

.trash {
    width: 30px;
    height: 30px;
    border-radius: 10%;
}

.trash:hover {
    cursor: pointer;
    box-shadow: rgb(255, 255, 255) 0 20px 20px -12px inset, rgb(225, 225, 225) 0 32px 19px -9px inset
}

.full-name {
    width: 90%;
    color: #ffffff;
    font-size: 1.4rem;
    font-family: Oregano, serif;
    letter-spacing: 1px;
}

section p, section span{
    font-size: 1.2rem;
    color: #ffffff;
    font-family: Montaga, serif;
}


@media screen and (max-width: 775px){
    main {
        padding: 20px 30px;
    }

    .full-name{
        font-size: 1.1rem;
    }

    section p, section span {
        font-size: 1rem;
    }

    .trash {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 550px) {
    main{
        padding: 20px 0;
    }
    section{
        border-radius: 0;
        width: 100%;
    }

}