main {
    background: #97AEBC;
    padding: 20px 60px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loop {
    display: none;
    align-self: center;
    position: relative;
    transform: translateZ(0) scale(1);
}

.loop div {
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 5px;
    border: 13px solid rgba(52, 66, 75, 0.8);
    border-top-color: transparent;
    border-radius: 50%;
    animation: loop 0.8s linear infinite;
}

@keyframes loop {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}

section {
    background: rgba(52, 66, 75, 0.75);
    padding: 10px 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
}

section:first-of-type, .presta-title{
    margin: 0;
}

section div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #ffffff solid;
    padding-bottom: 15px;

}

.presta-title {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: Oregano, serif;
    letter-spacing: 1px;
}

section p{
    font-size: 1.2rem;
    color: #ffffff;
    font-family: Montaga, serif;
}

section span{
    font-family: Oregano, serif;
    font-size: 1.5rem;
    color: #ffffff;
}


@media screen and (max-width: 675px){
    main {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 550px) {
    main{
        padding: 20px 0;
    }

    section{
        border-radius: 0;
        width: 90%;
    }

    .presta-title, section span{
        font-size: 1.3rem;
    }

    section p  {
        font-size: 1rem;

    }
}